{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Add/Update Card</h1>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="buttonHolder">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
