{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Delete Card</h1>
    <form method="post">
      {% csrf_token %}
      <p>Are you sure you want to delete the card for <em>{{ card.word }}</em>?</p>
      <div class="buttonHolder">
        <button type="submit" class="btn btn-primary">Yes!</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
