{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Cards</h1>
    <p>
      <a href="{% url 'add' %}" class="btn btn-success btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
      </a>
    </p>
{% if object_list %}
    <table class="table table-condensed">
      <tr>
        <th>Word</th>
        <th>Bin</th>
        <th>Time of Review</th>
        <th>Incorrect Answers</th>
        <th>Delete</th>
      </tr>
{% for tup in object_list %}
      <tr>
        <td><a href="{% url 'update' tup.card.id %}">{{ tup.card.word }}</a></td>
        <td>{{ tup.bin_number }}</td>
        <td>{{ tup.time_of_review }}</td>
        <td>{{ tup.num_incorrect }}</td>
        <td><a href="{% url 'delete' tup.card.id %}">Delete</a></td>
      </tr>
{% endfor %}
    </table>
{% endif %}
  </div>
</div>
{% endblock %}
