{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Learning!</h1>
{% if card %}
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
              <p class="text-center"><strong>Word</strong></p>
            <p class="lead text-center">{{ card.word }}</p>
            <hr/>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <button
                  type="button"
                  class="btn btn-default btn-lg btn-block"
                  id="show-definition">
                  Show Definition
                </button>
              </div>
            </div>
            <div id="definition-form-div" class="hidden">
              <div id="definition">
                <p class="text-center"><strong>Definition</strong></p>
                <p class="lead text-center">{{ card.definition }}</p>
              </div>
              <form method="post" action="{% url 'learn' %}">
                {% csrf_token %}
                <input type="hidden" name="record_id" value="{{ record_id }}" />
                <div class="row">
                  <div class="col-md-6">
                    <button
                      type="submit"
                      class="btn btn-success btn-lg btn-block"
                      name="correct"
                      value="true"
                      id="correct-btn">
                      Got it!
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button
                      type="submit"
                      class="btn btn-danger btn-lg btn-block"
                      name="correct"
                      value="false"
                      id="incorrect-btn">
                      Whoops.
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% elif next %}
    <p>You're done for now, but do come back later to review more words.</p>
    <p><strong>Next scheduled review</strong>: {{ next|naturaltime }}.</p>
{% else %}
    <p>You have no more words to review; you are permanently done! <a href="{% url 'list' %}">Unless you make some more.</a></p>
{% endif %}
  </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/learn.js' %}"></script>
{% endblock %}

