{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Logged Out</h1>
    <p>You have been logged out. See ya!</p>
  </div>
</div>
{% endblock %}
