{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Log in</h1>
    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please log in with an account that has access.</p>
        {% else %}
        <p>Please log in or <a href="{% url 'signup' %}">sign up</a> to access this page.</p>
        {% endif %}
    {% endif %}

    <p><em>(<a href="{% url 'password_reset' %}">Forgot your password?</a>)</em></p>

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form|crispy }}
      <input type="hidden" name="next" value="{{ next }}" />
      <div class="buttonHolder">
        <button type="submit" value="login" class="btn btn-primary">Log in</button>
      </div>
    </form>

  </div>
</div>
{% endblock %}
