{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Password Successfully Changed</h1>
    <p>You have successfully changed your password. Nice!</p>
  </div>
</div>
{% endblock %}
