{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    {% if not validlink %}
    <h1>Oops!</h1>
    <p>Something went wrong; you shouldn't be here!</p>
    {% else %}
    <h1>Reset Password (Enter New Password)</h1>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="buttonHolder">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
