{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Password Reset Email Sent</h1>
    <p>We've sent you an email to reset your password if your account is valid.</p>
  </div>
</div>
{% endblock %}
