{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Password Reset Complete!</h1>
    <p>Your password has been successfully reset. Awesome!</p>
  </div>
</div>
{% endblock %}
